body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./images/background.jpg);
    background-size: cover;
}

#calBody {
    display: flex;
    flex-flow: column wrap;
    padding: 4px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#mainContainer {
    border: 1px solid;
    border-color: antiquewhite;
    padding: 6px;
}

#calName {
    color: rgb(11, 1, 14);
    font-size: large;
    font-weight: bold;
    padding: 2px;
    border-color: azure;
    border-bottom: 1px solid;
    margin: 16px;
}

#displayBox {
    display: flex;
    margin-bottom: 8px;
    flex-flow: column wrap;
}

#displayInput, #displayResult {
    flex: 1 1 auto;
    font-size: xx-large;
    text-align: right;
    border: none;
}

#displayInput {
    color: rgb(148, 142, 142);
}

#buttonContainer {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    border: 1px solid;
    border-color: blue;
}

#numopDiv {
    display: flex;
    flex-flow: row wrap;
}

#numeralsDiv {
    display: flex;
    flex-flow: column wrap;
    padding: 4px;
    border: 1px solid;
    flex: 2 1 auto;
}

#operatorsDiv {
    display: flex;
    flex-flow: column wrap;
    padding: 4px;
    border: 1px solid;
    flex: 1 1 auto;
}

#othersDiv {
    display: flex;
    flex-flow: row wrap;
    padding: 4px;
}

.btnNumRows {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row-reverse wrap;
}

.btnCal {
    font-size: xx-large;
    font-weight: 900;
    flex: 1 1 auto;
    padding: 8px;
    border-radius: 8px;

}

.btnNumerals {
    background-color: rgba(40, 59, 156,0.5);
    color: aqua;

}

.btnOperator {
    background-color: rgba(255,165,0,0.5);
    color: rgb(24, 37, 37);
}

.btnOther {
    background-color: rgba(112, 193, 240,0.5);
}